<h1> Welcome to Shroomies </h1>

{{#each posts}}
<h2>{{title}}</h2>
<img src="{{image}}" alt="{{title}}">
{{/each}}
<form id="shroomForm">
    
<button id = "location">click for location</button>

</form>



<script src="/js/addShroom.js"></script>