<div id="carouselCaptions" class="carousel slide" data-bs-ride="false">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
    <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
    <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="6" aria-label="Slide 7"></button>
    <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="7" aria-label="Slide 8"></button>
    <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="8" aria-label="Slide 9"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="/assets/chicken-of-the-woods.jpg" class="d-block w-100" alt="Chicken of the wood">
      <div class="carousel-caption d-none d-md-block">
        <h5>Chicken of the Woods</h5>
        <p>Laetiporus sulphureus is a species of bracket fungus found in Europe and North America. Its common names are crab-of-the-woods, sulphur polypore, sulphur shelf, and chicken-of-the-woods. <a href= "https://en.wikipedia.org/wiki/Laetiporus_sulphureus"> Find Out More</a></p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="/assets/oyster-mush.jpeg" class="d-block w-100" alt="Oyster Mushroom">
      <div class="carousel-caption d-none d-md-block">
        <h5>Oyster Mushroom</h5>
        <p>Pleurotus ostreatus, the oyster mushroom, oyster fungus, or hiratake, is a common edible mushroom. It was first cultivated in Germany as a subsistence measure during World War I and is now grown commercially around the world for food. It is related to the similarly cultivated king oyster mushroom. <a href="https://en.wikipedia.org/wiki/Pleurotus_ostreatus">Find Out More</a></p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="/assets/hen-of-the-woods.jpg" class="d-block w-100" alt="Hen of the Woods">
      <div class="carousel-caption d-none d-md-block">
        <h5>Hen of the Woods</h5>
        <p>Grifola frondosa is a polypore mushroom that grows at the base of trees, particularly old growth oaks or maples. It is typically found in late summer to early autumn. It is native to China, Europe, and North America. <a href="https://en.wikipedia.org/wiki/Grifola_frondosa"> Find out More</a></p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="/assets/morel.jpeg" class="d-block w-100" alt="Morel">
      <div class="carousel-caption d-none d-md-block">
        <h5>Morel</h5>
        <p>Morchella, the true morels, is a genus of edible sac fungi closely related to anatomically simpler cup fungi in the order Pezizales. These distinctive fungi have a honeycomb appearance due to the network of ridges with pits composing their caps.<a href="https://en.wikipedia.org/wiki/Morchella">Find out More</a></p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="/assets/amanita-muscaria.jpg" class="d-block w-100" alt="Amanita Muscaria">
      <div class="carousel-caption d-none d-md-block">
        <h5>Amanita Muscaria</h5>
        <p>Amanita muscaria, commonly known as the fly agaric or fly amanita,[5] is a basidiomycete of the genus Amanita. It is also a muscimol mushroom. Native throughout the temperate and boreal regions of the Northern Hemisphere, Amanita muscaria has been unintentionally introduced to many countries in the Southern Hemisphere, generally as a symbiont with pine and birch plantations, and is now a true cosmopolitan species. <a href="https://en.wikipedia.org/wiki/Amanita_muscaria">Find Out More</a></p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="/assets/lions-mane.webp" class="d-block w-100" alt="Lions Mane">
      <div class="carousel-caption d-none d-md-block">
        <h5>Lion's Mane</h5>
        <p>Hericium erinaceus is an edible mushroom belonging to the tooth fungus group. Native to North America, Europe and Asia, it can be identified by its long spines, occurrence on hardwoods, and tendency to grow a single clump of dangling spines. The fruit bodies can be harvested for culinary use. <a href="https://en.wikipedia.org/wiki/Hericium_erinaceus"> Find Out More</a></p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="/assets/wrinkled-peach.jpg" class="d-block w-100" alt="Wrinkled Peach">
      <div class="carousel-caption d-none d-md-block">
        <h5>Wrinkled Peach</h5>
        <p>Rhodotus is a genus in the fungus family Physalacriaceae. This uncommon species has a circumboreal distribution, and has been collected in eastern North America, northern Africa, Europe, and Asia; declining populations in Europe have led to its appearance in over half of the European fungal Red Lists of threatened species. <a href="https://en.wikipedia.org/wiki/Rhodotus"> Find Out More</a></p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="/assets/blue-pinkgill.jpg" class="d-block w-100" alt="Blue Pinkgill">
      <div class="carousel-caption d-none d-md-block">
        <h5>Blue Pinkgill</h5>
        <p>Entoloma hochstetteri, also known as the blue pinkgill, sky-blue mushroom or similar names, is a species of mushroom that is native to New Zealand. The small mushroom is a distinctive all-blue colour, while the gills have a slight reddish tint from the spores. Whether Entoloma hochstetteri is poisonous or not is unknown. <a href="https://en.wikipedia.org/wiki/Entoloma_hochstetteri">Find Out More</a></p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="/assets/bitter-oyster.jpg" class="d-block w-100" alt="Bitter Oyster">
      <div class="carousel-caption d-none d-md-block">
        <h5>Bitter Oyster</h5>
        <p>Panellus stipticus, commonly known as the bitter oyster, is a species of fungus in the family Mycenaceae, and the type species of the genus Panellus. A common and widely distributed species, it is found in Asia, Australia, Europe, and North America, where it grows in groups or dense overlapping clusters on the logs, stumps, and trunks of deciduous trees, especially beech, oak, and birch.Panellus stipticus is one of several dozen species of fungi that are bioluminescent.<a href="https://en.wikipedia.org/wiki/Panellus_stipticus">Find Out More</a></p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<script> const carousel = new bootstrap.Carousel('#carouselCaptions') </script>

  
