:root {

    --darkpurple: #2b193d;
    --spacecadet: #2c365e;
    --independence: #484d6d;
    --wintergreen: #4b8f8c;
    --tuscany: #c5979d;

}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 32px;
    height: 32px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid var(--darkpurple);
    border-color: var(--darkpurple) transparent var(--darkpurple) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @font-face {
    font-family: onetwotrees;
    font-weight: 900;
    src: url(CfOneTwoTreesRegular-4LGp.ttf);
 }

.postcard {
  justify-content: center;
}