:root {

    --darkpurple: #2b193d;
    --spacecadet: #2c365e;
    --independence: #484d6d;
    --wintergreen: #4b8f8c;
    --tuscany: #c5979d;
    --sunburst: #A68D56;
    --cafenoir: #58432C;
    --alabaster: #EDEADF;
    --olivedrab: #483E2C;
    --goldfusion: #787350;


}


#posts{
    background-color: var(--olivedrab);
    padding: 10px;
    border: #2b193d;
    border-radius:5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
}
#comments{
    background-color: var(--tuscany);
}
#commentDrop{
  padding: 15px;
  margin-top: 15px;
  background-color: (--alabaster);
}
#commentBox{
  background-color: var(--cafenoir);
  padding: 10px;
  color: var(--alabaster);
  border-radius: 5px;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 32px;
    height: 32px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid var(--darkpurple);
    border-color: var(--darkpurple) transparent var(--darkpurple) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

@font-face {
    font-family: onetwotrees;
    font-weight: 900;
    src: url(assets/CfOneTwoTreesRegular-4LGp.ttf);
 }

body {
  font-family: 'Raleway';
  font-size: 22px;
  background-image: url('assets/deep-in-the-forest-blur.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.postcard {
  justify-content: center;
}

.navbar-custom {
    display: flex;
  background-color: var(--olivedrab);
  z-index: 12;
  justify-content: center;
}

a.navbar-brand {
  font-family: onetwotrees;
  font-size: 40px;
  color: var(--alabaster);
  
}

.title {
  font-family: onetwotrees;
  font-size: 100px;
}

h1, p, a, h3, h4, footer {
  color: var(--alabaster);
}
.modal-backdrop {
    z-index: -1;
  }

.modal .modal-content {
    z-index: 14;
  background-color: var(--goldfusion);
}

.btn {
  background-color: var(--olivedrab);
}

#upload_widget {
  background-color: var(--olivedrab);
}
#particles-js{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

#navDiv{
    justify-content: left;
}
.nav-link{
    padding: 10px;
}
.modal-footer{
    text-align: center;
}

main{
    z-index: 10;
    position: relative;
   padding: 50px;
}
footer{
    background: var( --olivedrab);
    position: fixed;
    z-index: 11;
    bottom: 0;
    left: 0; 
    width: 100%;
    text-align: center;
    padding: 5px;
}
#postBtn{
    z-index: 13;
}

div p {
    color: antiquewhite;
    text-align: center;
}
div a {
    color: goldenrod;
}
div h2 {
    text-align: center;
    padding: 10px;
}
nav a{
    color: white;
    text-decoration: none;
    padding:40px
}
 a:hover{
    text-decoration:underline;
 }

.comments  {
  color: black;
}